[package]
name = "google-signin"
version = "0.2.1"
description = "API bindings for Google Sign-In"
authors = ["Kevin Stenerson <kstenerson@developers.wyyerd.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/wyyerd/google-signin"
documentation = "https://docs.rs/google-signin"
keywords = ["google", "signin", "oauth", "oauth2", "api"]
categories = ["api-bindings"]

[features]
default = ["with-rustls"]
with-rustls = ["hyper-rustls"]
with-openssl = ["hyper-openssl"]

[dependencies]
hyper = "^0.10"
hyper-rustls = { version = "^0.6", optional = true }
hyper-openssl = { version = "^0.2", optional = true }
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
